[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "BayesCombo"]
	path = BayesCombo
	url = https://github.com/stanlazic/bayescombo
[submodule "desiR"]
	path = desiR
	url = https://github.com/stanlazic/desir
[submodule "labstats"]
	path = labstats
	url = https://github.com/stanlazic/labstats
